.gray{color:#B1B5B9}
.icon{display:inline-block;background-size:contain;background-position:center;background-repeat:no-repeat;}
/*icon*/
.icon-arrow-right{background-image:url('./views/common/arrow-right@2x.png');
width:15px;height:23px;}
.line{background:#dfdfdf;height:1px;width:50px;display:inline-block;}
.c-yellow{color:#ffa200}
.c-orange{color:#f46200}
